#mapContainer{
  position: fixed;
  top: 0px;
  bottom:  0px;
  right: 0;
  left: 38%;
}

#map{
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%;
}

.mapboxgl-popup{
	max-width: 420px;
}

.selectedCard{
	background-color: rgba(128, 128, 128, 0.09) !important;
}

.searchBox{
	z-index: 1;
	left: 10px;
	top: 7px;
}

.ui .input{
	width: 240px;
}

.ui.menu .item:before {
    width: 0px;
}

.ui.menu.fixed{
    width: inherit;
}

.ui.divided.items{
    margin-top: 50px;
}

#links{
	    position: absolute;
    bottom: 10px;
    z-index: 10;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 10px;
}
