<md-card ng-click="selectMarket(market) " ng-class="{ 'md-whiteframe-z2' : market===selected}">
  <img src="images/Loppemarked.jpg" class="md-card-image" alt="Washed Out">
  <md-card-content>
    <div layout="row" layout-align="space-between center">
      <div layout="column" class="md-list-item-text">
        <h4>{{market.name}}</h4>
        <small>Minde tekst</small>
      </div>
      <div>
        <ng-md-icon icon="whatshot" style="fill:black" alt="android ">
      </div>
    </div>
  </md-card-content>
</md-card>
